extends templates/default.jade

block contents
  form#userSignUp(accept-charset='utf-8')
    input(type='text')
    input(type='email')
    input(type='password')
    input(type='password')

block js_includes