- var meta_title = 'Bit Vis'
- var img_favicon = 'img/facivon.png'
- var js_jquery = 'lib/jquery/jquery.js'
- var js_d3 = 'lib/d3/d3.js'

doctype html
html(lang='zh')
  head
    title= meta_title
    link(href=img_favicon, rel='shortcut icon', type='image/vnd.microsoft.icon')
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(charset="utf-8")
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    block css
  body
    block contents
    script(src=js_jquery, type='text/javascript')
    script(src=js_d3, type='text/javascript')
    block js_includes
    block html_templates